In [26]:
# DB instance identifier: database-1
# username: admin
# pass: Wearethe0ne!
# host: database-1.cluster-cwlcubc14m5f.us-east-2.rds.amazonaws.com
# port: 3306
#!pip install PyMySQL
import pymysql
import time
import random as rd
import json

In [9]:
db = pymysql.connect(host='database-1.cwlcubc14m5f.us-east-2.rds.amazonaws.com', 
                     user='admin', database='capstone', password='Wearethe0ne!', port=3306)
cursor = db.cursor()
cursor.execute("select version()") # get the version
data = cursor.fetchone()
print(data)
sql = '''create database if not exists capstone''' # create the database
cursor.execute(sql)
cursor.connection.commit() # commit the change

('8.0.28',)

In [3]:
sql = '''use capstone''' # sql command to use the database named capstone
cursor.execute(sql) # executing the sql code 
sql = '''DROP table Data''' # dropping the old table so necessary for making changes to writing a new table
cursor.execute(sql)
sql = ''' 
create table Data (
id int not null auto_increment,
sensor text,
value float,
timestamp int,
primary key (id)
)''' # create table called data where data will be stored in a relational MySQL database
cursor.execute(sql) # executing the sql in python

0

In [19]:
sql = '''show tables'''
cursor.execute(sql) # executing the sql in python
cursor.fetchall() # fetching all the data at the reference

(('Data',),)

In [32]:
for i in range(10):
    sql = '''insert into Data(sensor, value, timestamp) values('%s', '%f', '%d')''' % ('Magnetometer1', rd.random(), i) # inserting these values
    cursor.execute(sql)

In [2]:
sql = '''select * from Data'''
cursor.execute(sql) # executing the sql in python
cursor.connection.commit() # commit the change
result = cursor.fetchall() # fetching all the data at the reference
print(result)

class create_dict(dict): 
  
    # __init__ function 
    def __init__(self): 
        self = dict() 
          
    # Function to add key:value 
    def add(self, key, value): 
        self[key] = value
        
mydict = create_dict()

for row in result:
    mydict.add(row[0],({"name":row[1],"email":row[2],"phone":row[3]}))

a = json.dumps(mydict)
print(a)

NameError: name 'cursor' is not defined