In [6]:
# DB instance identifier: database-1
# username: admin
# pass: Wearethe0ne!
# host: database-1.cluster-cwlcubc14m5f.us-east-2.rds.amazonaws.com
# port: 3306
#!pip install PyMySQL
import pymysql
import time
import random as rd
import json
import numpy as np

In [7]:
db = pymysql.connect(host='capstone-test.cwlcubc14m5f.us-east-2.rds.amazonaws.com', database='capstone',
                     user='admin', password='EuqmBmOUwNXcPlrHYJFM', port=3306)
cursor = db.cursor()
cursor.execute("select version()") # get the version
data = cursor.fetchone()
print(data)
sql = '''create database if not exists capstone''' # create the database
cursor.execute(sql)
cursor.connection.commit() # commit the change

('8.0.28',)

In [31]:
sql = '''use capstone''' # sql command to use the database named capstone
cursor.execute(sql) # executing the sql code 
sql = '''DROP table Data''' # dropping the old table so necessary for making changes to writing a new table
cursor.execute(sql)
sql = ''' 
create table Data (
id int not null auto_increment,
sensor text,
x float,
y float,
z float,
a_azimuth float,
c_azimtuh float,
a_elevation float,
c_elevation float,
temperature float,
timestamp int,
primary key (id)
)''' # create table called data where data will be stored in a relational MySQL database
cursor.execute(sql) # executing the sql in python

0

In [32]:
sql = '''show tables'''
cursor.execute(sql) # executing the sql in python
cursor.fetchall() # fetching all the data at the reference

(('Data',),)

In [33]:
vals = np.linspace(0, 2*np.pi, 50)
y1 = np.cos(vals)
y2 = vals*vals


for i in range(1, 10):
    sql = '''insert into Data(sensor, value, timestamp) values('%s', '%f', '%d')''' % ('Magnetometer1', y1[i-1], i) # inserting these value
    cursor.execute(sql)
    sql = '''insert into Data(sensor, value, timestamp) values('%s', '%f', '%d')''' % ('Magnetometer2', y2[i-1], i) # inserting these valuess
    cursor.execute(sql)

In [34]:
sql = '''select * from Data'''
cursor.execute(sql) # executing the sql in python
cursor.connection.commit() # commit the change
result = cursor.fetchall() # fetching all the data at the reference
print(result)

class create_dict(dict): 
  
    # __init__ function 
    def __init__(self): 
        self = dict() 
          
    # Function to add key:value 
    def add(self, key, value): 
        self[key] = value
        
mydict = create_dict()

for row in result:
    mydict.add(row[0],({"name":row[1],"value":row[2],"timestamp":row[3]}))

a = json.dumps(mydict)
print(a)

((1, 'Magnetometer1', 1.0, 1), (2, 'Magnetometer2', 0.0, 1), (3, 'Magnetometer1', 0.99179, 2), (4, 'Magnetometer2', 0.016442, 2), (5, 'Magnetometer1', 0.967295, 3), (6, 'Magnetometer2', 0.06577, 3), (7, 'Magnetometer1', 0.926917, 4), (8, 'Magnetometer2', 0.147982, 4), (9, 'Magnetometer1', 0.871319, 5), (10, 'Magnetometer2', 0.26308, 5), (11, 'Magnetometer1', 0.801414, 6), (12, 'Magnetometer2', 0.411062, 6), (13, 'Magnetometer1', 0.718349, 7), (14, 'Magnetometer2', 0.59193, 7), (15, 'Magnetometer1', 0.62349, 8), (16, 'Magnetometer2', 0.805682, 8), (17, 'Magnetometer1', 0.518393, 9), (18, 'Magnetometer2', 1.05232, 9))
{"1": {"name": "Magnetometer1", "value": 1.0, "timestamp": 1}, "2": {"name": "Magnetometer2", "value": 0.0, "timestamp": 1}, "3": {"name": "Magnetometer1", "value": 0.99179, "timestamp": 2}, "4": {"name": "Magnetometer2", "value": 0.016442, "timestamp": 2}, "5": {"name": "Magnetometer1", "value": 0.967295, "timestamp": 3}, "6": {"name": "Magnetometer2", "value": 0.06577, "timestamp": 3}, "7": {"name": "Magnetometer1", "value": 0.926917, "timestamp": 4}, "8": {"name": "Magnetometer2", "value": 0.147982, "timestamp": 4}, "9": {"name": "Magnetometer1", "value": 0.871319, "timestamp": 5}, "10": {"name": "Magnetometer2", "value": 0.26308, "timestamp": 5}, "11": {"name": "Magnetometer1", "value": 0.801414, "timestamp": 6}, "12": {"name": "Magnetometer2", "value": 0.411062, "timestamp": 6}, "13": {"name": "Magnetometer1", "value": 0.718349, "timestamp": 7}, "14": {"name": "Magnetometer2", "value": 0.59193, "timestamp": 7}, "15": {"name": "Magnetometer1", "value": 0.62349, "timestamp": 8}, "16": {"name": "Magnetometer2", "value": 0.805682, "timestamp": 8}, "17": {"name": "Magnetometer1", "value": 0.518393, "timestamp": 9}, "18": {"name": "Magnetometer2", "value": 1.05232, "timestamp": 9}}

In [31]:
import json
import time
print(json.loads('{"fields":{"Memory":{"doubleValue":"2"},"Name":{"stringValue":"Additional Old ESP32"}}}')['fields'])
print(round(time.time()))


sql = '''insert into Running(sensor, value, timestamp) values('%s', '%f', '%d')''' % )
    cursor.execute(sql)

{'Memory': {'doubleValue': '2'}, 'Name': {'stringValue': 'Additional Old ESP32'}}
1674424158